<footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'home' %}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'about' %}">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'notifications' %}">Notifications</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'courses' %}">Courses</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'gallery' %}">Gallery</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'contact' %}">Contact Us</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Courses</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Course 1</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Course 2</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Ram Krishna Paramhans Inter College<br>
              Nagal,Saharanpur<br>
              Uttar Pradesh, India<br><br>
              <strong>Phone:</strong> +91-9897836385<br>
              <strong>Email:</strong> jagpalduttaswami001@gmail.com<br>
            </p>

          </div>

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>About School</h3>
            <p>Ram Krishna Paramhans Inter College was established in <strong>2001</strong> and is managed by
              <strong>Jagpal Dutta Swami Sir</strong>
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Ram Krishna Paramhans Inter College Nagal,Saharanpur</span></strong>. All Rights Reserved
      </div>
    </div>
</footer>


