{% extends 'partials/base.html' %}
{% load static %}
{% block title %}
    About Page
{% endblock %}

{% block content %}
    <main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>About Us</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>About Us</li>
          </ol>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= About Section ======= -->
    <section class="about" data-aos="fade-up">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="{% static 'images/instagram.jpg' %}" height="500" width="600" alt="Poster 3">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>Some facts about our school.</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="bi bi-check2-circle"></i> School was established on 1st June 2001.</li>
              <li><i class="bi bi-check2-circle"></i> Type of Institute is private.</li>
              <li><i class="bi bi-check2-circle"></i> It is a co-educational institute open for both boys and girls.</li>
              <li><i class="bi bi-check2-circle"></i> DISE code of our school is 161225.</li>
              <li><i class="bi bi-check2-circle"></i> Affiliation number of this school is 1252 - 28th December 2011.</li>
              <li><i class="bi bi-check2-circle"></i> Medium of instruction is both Hindi and English</li>
               <li><i class="bi bi-check2-circle"></i> Level of school is Higher Secondary</li>
               <li><i class="bi bi-check2-circle"></i> Educational Board is UP Board, Prayagraj</li>
               <li><i class="bi bi-check2-circle"></i> Indoor playground is available</li>
               <li><i class="bi bi-check2-circle"></i> Outdoor playground is available</li>
              <li><i class="bi bi-check2-circle"></i> Transportation is available</li>
               <li><i class="bi bi-check2-circle"></i> Library is available</li>
               <li><i class="bi bi-check2-circle"></i> Computer Lab is available</li>
               <li><i class="bi bi-check2-circle"></i> Transportation is available</li>
              <li><i class="bi bi-check2-circle"></i> Medium of instruction is both Hindi and English</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section class="facts section-bg" data-aos="fade-up">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-4 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p>Number of Teachers</p>
          </div>

          <div class="col-lg-4 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="210" data-purecounter-duration="1" class="purecounter"></span>
            <p>Number of Books in Library</p>
          </div>

          <div class="col-lg-4 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1" class="purecounter"></span>
            <p>Number of Computers in Lab</p>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->
  </main><!-- End #main -->
{% endblock %}