{% extends 'partials/base.html' %}
{% load static %}
{% block title %}
    RKPHIC - Nagal, Saharanpur - Courses
{% endblock %}

{% block content %}
    <main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-center align-items-center">
          <h2>Courses Page</h2>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Courses Section ======= -->
    <section class="courses" data-aos="fade-up">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="{% static 'images/logo.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>Content coming soon</h3>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

  </main><!-- End #main -->
{% endblock %}