{% extends 'partials/base.html' %}
{% load static %}
{% block title %}
    RKPHIC - Nagal, Saharanpur - Director's Message
{% endblock %}

{% block content %}
    <main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-center align-items-center">
          <h2>About - Director's Message</h2>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= About Section ======= -->
    <section class="about" data-aos="fade-up">
      <div class="container">
        <p>
            Content goes here
        </p>
      </div>
    </section><!-- End About Section -->

  </main><!-- End #main -->
{% endblock %}