{% extends 'partials/base.html' %}
{% load static %}
{% block title %}
    About Page
{% endblock %}

{% block content %}
    <main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Gallery Page</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Gallery Page</li>
          </ol>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Gallery Section ======= -->
    <section class="gallery">
      <div class="container">

        <div class="row">
          <div class="col-md-6 col-lg-3" data-aos="fade-up">
            <img src="{% static 'images/student1.jpeg' %}" alt="Student 1">
            <p class="description">Voluptatum deleniti</p>
          </div>

          <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <img src="{% static 'images/student2.jpeg' %}" alt="Student 2">
            <p class="description">Voluptatum deleniti</p>
          </div>

          <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
            <img src="{% static 'images/student3.jpeg' %}" alt="Student 3">
            <p class="description">Voluptatum deleniti</p>
          </div>

          <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
            <img src="{% static 'images/student4.jpeg' %}" alt="Student 4">
            <p class="description">Voluptatum deleniti</p>
          </div>

          <div class="col-md-6 col-lg-3" data-aos="fade-up">
            <img src="{% static 'images/student1.jpeg' %}" alt="Student 1">
            <p class="description">Voluptatum deleniti</p>
          </div>

          <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <img src="{% static 'images/student2.jpeg' %}" alt="Student 2">
            <p class="description">Voluptatum deleniti</p>
          </div>

          <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
            <img src="{% static 'images/student3.jpeg' %}" alt="Student 3">
            <p class="description">Voluptatum deleniti</p>
          </div>

          <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
            <img src="{% static 'images/student4.jpeg' %}" alt="Student 4">
            <p class="description">Voluptatum deleniti</p>
          </div>

        </div>

      </div>
    </section><!-- End Gallery Section -->

  </main><!-- End #main -->
{% endblock %}