{% extends 'partials/base.html' %}
{% load static %}
{% block title %}
    About Page
{% endblock %}

{% block content %}
    <main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Gallery Page</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Gallery Page</li>
          </ol>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Gallery Section ======= -->
    <section class="gallery" data-aos="fade-up">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

  </main><!-- End #main -->
{% endblock %}