{% extends 'partials/base.html' %}
{% load static %}
{% block title %}
    Courses Page
{% endblock %}

{% block content %}
    <main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Notifications Page</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Notifications Page</li>
          </ol>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <section class="testimonials" data-aos="fade-up">
      <div class="container">

        <div class="testimonials-carousel swiper">
          <div class="swiper-wrapper">

            {% for notification in notifications %}
            <div class="testimonial-item swiper-slide">
              <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>{{ notification.title }}</h3>
              <h4>{{ notification.subtitle }}</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                {{ notification.content }}
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
            <!-- If object_list is empty  -->
            {% empty %}
            <li>No Notifications added.</li>
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>



      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->
{% endblock %}